.my-class {
  border: 2px solid rgb(185, 100, 44);
  background-color: lightcoral;
  padding-left: 1px;
  box-sizing: border-box;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.myimg-class{
  padding-top: 10px;
  padding-right: 7px;
  float: left;
  border-image-width: 4mm;
}

.h1-class{
  display: flex;
  padding-bottom:5px;
  font-size: 10mm;
  font-style: normal;
  color: firebrick;
}

.p-class{
  text-align: center;
  font-size: 5mm;
  width: 80%;
  padding-left: 3px;
}

body{
  background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.divo-class{
  width: 70%;
  font-size: 6mm;
}

.sp-class{
  font-style: oblique;
}

.h-class{
  padding-top:auto;
  background-color: slategrey;
}
